#!/usr/bin/env bash

function restic_wrapper() {
    sudo -u {{ restic_user_name }} \
        RESTIC_REPOSITORY='{{ restic_repo_path }}' \
        RESTIC_PASSWORD_FILE='{{ restic_repo_pass_file }}' \
        {{ restic_binary_path }} $@
}

if [[ $# == 0 ]]; then
    restic_wrapper -q snapshots
else
    restic_wrapper $@
fi
